.button{
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
    transition: background-color 0.25s;
    color: var(--white-color);
    border-radius: 28.5px;
    border: none;
    background-color: var(--primary-color);
}
.small{
    font-size: 16px;
    padding: 10px 23px;
}
.big{
    font-size: 15px;
    padding: 20px 60px;
    box-shadow: 0px 10px 40px 0px rgba(122, 129, 190, 0.16);
    text-transform: uppercase;
}
.button:hover{
    background-color: var(--primary-hover-color);
}