.inputWrapper{

    border-radius: 10px;
    border: 1px solid #EFEFEF;
    background: #FCFCFD;
    display: grid;
    align-content: center;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 13px;
    padding: 19px;
}
.inputWrapper label{
    cursor: pointer;
}
.search{
    font-size: 14px;
    width: 182px;
    border: none;
}
.search:focus{
    outline: none;
}
.search::placeholder{
    color: #9AA0B4;
    font-size: 14px;
    font-weight: 400;
}